header {
  background-color: #ced898;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0px 1rem;
  h1 {
    font-size: 2rem;
    display: inline;
    margin: 0px;
  }
  form {
    input {
      margin-right: 2rem;
    }
  }
}